@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a2e;
  --foreground: #171717;
  --verse-color: #0085FF;
  --verse-disabled: #8792A8;
}

body {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}